<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Alumnos</title>
</head>
<body>
	<div>
		<h2>Carga de ALUMNOS</h2>
		<div>
			<form th:object="${alumno}" th:action="@{/cargarAlumno}" method="post">
				<label for="nombre">Nombre:</label> 
				<input type="text" id="nombre" th:field="*{name}"><br> 
				<label for="apellido">Apellido:</label>
				<input type="text" id="apellido" th:field="*{lastName}"><br>
				<label for="direccionCalle">Calle:</label>
				<input type="text" id="direccionCalle" th:field="*{addressStreet}"><br>
				<label for="direccionNumero">Numero:</label>
				<input type="number" id="direccionNumero" th:field="*{addressNumber}"><br>
				<label for="fechaNac">Fecha Nacimiento:</label>
				<input type="date" id="fechaNac" th:field="*{fechaNac}"><br>
				<label for="estado">Estado:</label>
				<input type="checkbox" id="estado" th:field="*{estado}"><br>
				 
				<input type="submit" value="Cargar Alumno">
			</form>
		</div>
	</div>
</body>
</html>